/* ********* */
/* @VARIABLES */
/* ********* */


// COLORES
$colores: (
    gris: #C4C4C4,
    gris_oscuro: #909090,
    gris_mas_oscuro: #454545,
    rojo: #D75252,
    marron: #713C25,
    beach: #DFA354
);