/* ********* */
/* @HOME */
/* ********* */

body{
    display: flex;
    justify-content: center;


}

.contenedor{
    width: clamp(300px, 100%, 1440px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-gap: 2rem;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}


// MAIN
// ****************************

main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    @media only screen and (min-width: 60rem){
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    
    figure{
        width: 80%;
        
        picture img{
            width: 100%; 
        }
        figcaption{
            
        }
    }
}