/* ********* */
/* @HOME */
/* ********* */

body{
    display: flex;
    justify-content: center;
}

.contenedor{
    width: clamp(300px, 100%, 1440px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}