/* ********* */
/* @HEADER */
/* ********* */

// HEADER
header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [navegador]50px [banner]auto [flecha]minmax(auto, 80px);
    grid-template-areas:
        "navegador"
        "banner"
        "flecha";

    // BANNER
    .banner img {
        width: 100%;
    }
    .flecha{
        grid-area: flecha;
        justify-self: center;
        align-self: center;
    }
}

// MENU
// ********************************

// SMARTPHONE
#menu-smartphone {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "menu logo .";
    input,
    .desplegable {
        display: none;
    }
    // clic
    input:checked ~ .desplegable {
        display: grid;
        background-color: grey;
        position: absolute;
        margin: 0;
        padding: 20%;
        top: 50px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 50px);
        justify-items: center;
    }
    .logo {
        grid-area: logo;
        justify-self: center;
    }
    .menuH {
        grid-area: menu;
    }
}

// DESKTOP
#menu-desktop {
    display: none;
}

// MQ (media query's)
@media only screen and (min-width: 60rem) {
    // SAMRTPHONE
    #menu-smartphone {
        display: none;
    }

    // DESKTOP
    #menu-desktop {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin: 0 1rem;
        }
    }
}
